<%= form_for(@email_list) do |f| %>
  <% if @email_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_list.errors.count, "error") %> prohibited this email_list from being saved:</h2>

      <ul>
      <% @email_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :sponsor %><br>
    <%= f.check_box :sponsor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
