<h1>Listing email_lists</h1>

<table style="background:#eee">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @email_lists.each do |email_list| %>
      <tr>
        <td><%= email_list.email %></td>
        <td><%= email_list.sponsor %></td>
        <td><%= email_list.name %></td>
        <td><%= email_list.active %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email list', new_email_list_path %>
